* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    text-align: center;
}


.header {
    padding: 20px;
    border: 2px solid #000;
    margin-bottom: 10px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 150px;
    justify-content: center;
    margin-bottom: 15px;
}

.menu a {
    border: 2px solid #000;
    padding: 8px 15px;
    text-decoration: none;
    color: #000;
}


.layout {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}


.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.card {
    border: 2px solid #000;
    padding: 10px;
    text-align: left;
}

.sidebar {
    border: 2px solid #000;
    padding: 10px;
}


.ads {
    margin-top: 10px;
    padding: 10px;
    border: 3px solid #000;   /* crea el cuadro */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    background: #f9f9f9;      /* suave fondo opcional */
    border-radius: 6px;       /* opcional, se puede quitar */
}


.pub {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid #000;
    border-radius: 4px; /* opcional */
}


.footer {
    border-top: 2px solid #000;
    margin-top: 18px;
    padding: 20px;
}

.name {
    font-size: 1.5rem;
    margin: 10px 0;
}

.social {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}
