/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    text-align: center;
}

.header {
    border: 2px solid #000;
    padding: 20px;
    margin-bottom: 10px;
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    border-bottom: 2px solid #000;
    padding: 10px 0;
}

.menu a {
    border: 2px solid #000;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
}

/* Main content layout */
.content {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 20px auto;
}

/* Article section */
.articles {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    width: 30%;
    border: 2px solid #000;
    padding: 10px;
    text-align: left;
}

/* Sidebar */
.sidebar {
    flex: 1;
    border: 2px solid #000;
    padding: 10px;
}

.ads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.pub {
    width: 45%;               
    aspect-ratio: 1 / 1;      
    object-fit: cover;        
    border: 2px solid #000;
}


.footer {
    border-top: 2px solid #000;
    padding: 20px;
    margin-top: 15px;
}

.name {
    font-size: 1.5rem;
    margin: 10px 0;
}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}
