<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Antonio Ríos Casado</title>
<link id="cssfile" rel="stylesheet" href="css/styles.css">
</head>
<body>

<header class="header">
    <h1>Header</h1>
</header>

<nav class="menu">
    <div>Opción 1</div>
    <div>Opción 2</div>
    <div>Opción 3</div>
    <div>Opción 4</div>
    <div>Opción 5</div>
</nav>

<main class="container">

    <section class="articles">
        <div class="card"><h3>Título</h3><h4>Subtítulo</h4><p>Lorem ipsum dolor sit amet...</p></div>
        <div class="card"><h3>Título</h3><h4>Subtítulo</h4><p>Lorem ipsum dolor sit amet...</p></div>
        <div class="card"><h3>Título</h3><h4>Subtítulo</h4><p>Lorem ipsum dolor sit amet...</p></div>
        <div class="card"><h3>Título</h3><h4>Subtítulo</h4><p>Lorem ipsum dolor sit amet...</p></div>
        <div class="card"><h3>Título</h3><h4>Subtítulo</h4><p>Lorem ipsum dolor sit amet...</p></div>
        <div class="card"><h3>Título</h3><h4>Subtítulo</h4><p>Lorem ipsum dolor sit amet...</p></div>
    </section>

    <aside class="sidebar">
        <h3>Archivo</h3>
        <label><input type="checkbox"> Marzo 17</label><br>
        <label><input type="checkbox"> Abril 17</label><br>
        <label><input type="checkbox"> Mayo 17</label><br>
        <label><input type="checkbox"> Junio 17</label><br>
        <label><input type="checkbox"> Julio 17</label><br>
        <label><input type="checkbox"> Agosto 17</label><br>
        <label><input type="checkbox"> Septiembre 17</label><br>
        <label><input type="checkbox"> Noviembre 17</label>

    <h3>Publicidad</h3>
    <div class="ads">
    <img src="img/900w-x_9-vJW3LB8.jpg" alt="Publicidad 1" class="pub-img">
    <img src="img/impresion-gran-formato-publicidad-exterior.jpg" alt="Publicidad 2" class="pub-img"><br>
    <img src="img/publicidadpullcocacola.jpg" alt="Publicidad 3" class="pub-img">
    <img src="img/que-es-la-publicidad-exterior-y-como-se-clasifica.jpg     " alt="Publicidad 4" class="pub-img">
</div>

    </aside>

</main>

<<footer class="footer">
    <h2>Footer</h2>
    <p class="name">Nombre y Apellidos</p>

    <div class="social">
        <span><img src="img/facebook.png" alt="Facebook" class="icon"></span>
        <span><img src="img/twitter.png" alt="Twitter" class="icon"></span>
        <span><img src="img/linkedin.png" alt="LinkedIn" class="icon"></span>
        <span><img src="img/github.png" alt="Github" class="icon"></span>
        <span><img src="img/youtube.png" alt="YouTube" class="icon"></span>
    </div>
</footer>


</body>
</html>
