<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Antonio Ríos Casado</title>
<link rel="stylesheet" href="css/styles.css">
</head>
<body>

<header class="header">
    <h1>Header</h1>
</header>

<nav class="menu">
    <a href="#">Opción 1</a>
    <a href="#">Opción 2</a>
    <a href="#">Opción 3</a>
    <a href="#">Opción 4</a>
    <a href="#">Opción 5</a>
</nav>

<main class="content">

    <!-- sección artículos -->
    <section class="articles">
        <div class="card">
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit...</p>
        </div>
        <div class="card">
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit...</p>
        </div>
        <div class="card">
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit...</p>
        </div>
        <div class="card">
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit...</p>
        </div>
        <div class="card">
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit...</p>
        </div>
        <div class="card">
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit...</p>
        </div>
    </section>

    <!-- sidebar -->
    <aside class="sidebar">
        <h3>Archivo</h3>
        <label><input type="checkbox"> Marzo 17</label><br>
        <label><input type="checkbox"> Abril 17</label><br>
        <label><input type="checkbox"> Mayo 17</label><br>
        <label><input type="checkbox"> Junio 17</label><br>
        <label><input type="checkbox"> Julio 17</label><br>
        <label><input type="checkbox"> Agosto 17</label><br>
        <label><input type="checkbox"> Septiembre 17</label><br>
        <label><input type="checkbox"> Noviembre 17</label>

        <h3>Publicidad</h3>
        <div class="ads">
            <img src="img/900w-x_9-vJW3LB8.jpg" class="pub" alt="1">
            <img src="img/impresion-gran-formato-publicidad-exterior.jpg" class="pub" alt="2">
            <img src="img/publicidadpullcocacola.jpg" class="pub" alt="3">
            <img src="img/que-es-la-publicidad-exterior-y-como-se-clasifica.jpg" class="pub" alt="4">
        </div>
    </aside>

</main>

<footer class="footer">
    <h2>Footer</h2>
    <p class="name">Antonio Ríos Casado</p>

    <div class="social">
        <img src="img/facebook.png" class="icon" alt="">
        <img src="img/twitter.png" class="icon" alt="">
        <img src="img/linkedin.png" class="icon" alt="">
        <img src="img/github.png" class="icon" alt="">
        <img src="img/youtube.png" class="icon" alt="">
    </div>
</footer>

</body>
</html>
